*
{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./imagenes/miau.gif);
    background-size: cover;
}

h1{
    margin: 2cm;
    font-size: 500%;
    font-family: fantasy;
    font-weight: 500;
    color: transparent;
    }
